{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %} profile {% endblock title %}

{% block main-content %}
   <section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">login</h4></header>
          <form action="{% url 'login' %}" method="POST">
				{% csrf_token %}
			  {% include 'includes/alert.html' %}
				<div class="form-group">
					<label>Email</label>
					<input type="email"  class="form-control" name="email" placeholder="Email" required>
				</div>
				<div class="form-row">
					<div class="form-group">
					<label>password</label>
					<input type="password" class="form-control" name="password" placeholder="address">
				</div>
				</div>
			  	<br>
				<div class="form-group">
					<button type="#" class="btn btn-primary btn-block">login</button>
					<p class="text-center mt-4"><a href="#">forget_password</a></p>
				</div>
				{% if form.non_field_errors %}
					<div class="alert alert-danger">
						{{ form.non_field_errors }}
					</div>
				{% endif %}
          </form>
		</article>
    </div>
    <p class="text-center mt-4">Have an account? <a href="#">Log In</a></p>
    <br><br>
</section>

{% endblock main-content %}